<label class="label-primary">{{t label}}</label>

<md-content class="input-wrap">
<md-input-container class="flex flex-25">
  <label for="{{item1}}" class="label-secondary">{{t item1}}</label>
  <input  class="md-input" id="{{item1}}"/>
</md-input-container>
<md-input-container class="flex flex-50">
  <label for="{{item2}}" class="label-secondary">{{t item2}}</label>
  <input class="md-input" id="{{item2}}"/>
</md-input-container>
{{#paper-button
    class="no-margin"
    onClick=(action 'addPair')
    raised=true
    primary=true}}
    {{paper-icon "add"}}
    {{t actionTitle}}
{{/paper-button}}
</md-content>
{{#if error}}
<div class="error-hint">{{ errorHint }}</div>
{{/if}}

<ul>
  {{#each valueArr as |pair| }}
    <li>
      {{pair.[0]}} - <a href={{pair.[1]}} target="_blank">{{ pair.[1] }}</a>
      {{#paper-button
      class="no-margin"
      title="remove pair"
      onClick=(action 'removePair' pair.[0] pair.[1])
      iconButton=true}}
        {{paper-icon "delete_forever"}}
      {{/paper-button}}
    </li>
  {{/each}}
</ul>

